<nav class="navbar navbar-expand-lg bg-primary" >
    <div class="container-fluid">
      <a class="navbar-brand">
      <img src="https://www.polestarllp.com/img/polestar-logo-new.svg" >
      <h3 style="color:white;font: size 18px;"><b> Student Management System</b> </h3></a>
    
      <div>
        <button class="btn btn-success mr-2" routerLink="home" ><b>Home</b> </button>
  
        <button class="btn btn-success mr-2"  routerLink="contactlist"><b>Student List</b> </button>
        <button class="btn btn-success mr-2" routerLink="addcontact" ><b>Add Contact</b> </button>
  
      </div>
    </div>
  </nav>




  <footer>
    <p>&copy; 2023 Polestar Student Management System .All Rights Reserved.</p>
    <!-- Add any other footer content here -->
  </footer>

 <router-outlet></router-outlet>